<div>
	<span>
		<h1 class="green_border_txt">{{ title }}
			<a href="/{{ key }}_block/view/{{ id }}">
				<i id="text-block-{{ id }}" class="pull-right clickable fa fa-pencil-square-o editable edit-text-block-{{ id }}" aria-hidden="true"></i>
			</a>
		</h1>
	</span>
	<div class="text-block-13">
    	{% for val in pub_text %}
            {% if forloop.counter != 1 %} <br/> {% endif %}
            <b> <a href='https://www.ncbi.nlm.nih.gov/pubmed/{{ val.pubmedid }}'>{{ val.pubmedid }}</a> {% if val.title != '' %} - {{ val.title }} {% endif %}</b> <br/>
            <small>
            {% for text in val.sentence %}
                {% if text != ''%}
                    {% if forloop.counter != 1 %} <br/> {% endif %}
                    <i> {{ text }} </i>
                    <br/>
                {% endif %}
            {% endfor %}
            </small>
        {% endfor %}
    </div>
</div>
